*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Whitney', sans-serif;
}
/* float */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
/* end float */
/* position */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end position */
/* start header */
header{
  background-color: #255ee9;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.header-container, .main-container,.big-container, .footer-container, .final-row{
  width: 75%;
  min-width: 600px;
  margin: 0 auto;
}
.header-container img{
  vertical-align: middle;
}
header nav{
  width: calc(100% - 184.02px);
  text-align: center;
}
.header-container li{
  display: inline;
  list-style: none;
  margin: 0 20px;
}
.header-container a{
  text-decoration: none;
  color: white;
}
/* end header */
/* button */
.form-button{
  border-radius: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
}
.background-white{
  background-color: white;
  color: black;
}
.background-black{
  background-color: black;
}
.background-blue{
  background-color: #8ea1e1;
}
/* end button */
/* start main */
/* start jumbotron */
.jumbotron{
  height: 55vh;
  text-align: center;
  margin-bottom: 70px;
}
.jumbotron img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jumbo-description{
  color: white;
}
.jumbotron h1{
  font-size: 3rem;
  margin-bottom: 30px;
}
.jumbo-description *:not(i,h1){
  margin: 10px;
}
/* end jumbotron */
/* start container */
section.small{
  height: 65vh;
}
.main-container img{
  width: 55%;
}
.main-description{
  width: 35%;
  font-size: 1.5rem;
  padding: 30px 0;
}
.main-description h1{
  margin-bottom: 20px;
}
.main-description p{
  font-size: 1.2rem;  
}
section:nth-child(odd){
  background-color: #f6f6f6;
}
.big{
  height: 90vh;
}
.big-container{
  height: 100%;
  width: 50%;
  text-align: center;
}
.big-img{
  width: 100%;
}
.main-description-big{
  padding-top: 50px;
}
.main-description-big h1{
  margin-bottom: 20px;
  font-weight: 800;
}
.main-description-big p{
  font-size: 0.9rem;
}
.final-description img{
  width: 60%;
}
.final-description{
  margin-bottom: 20px;
}
.text-on-img{
  top: 20px;
  left: 150px;
  font-weight: 800;
  font-size: 1.2rem;
}
/* end main */
/* start footer */
footer{
  height: 65vh;
  background-color: #23272a;
  color: white;
}
.social{
  width: 30%;
}
.social img{
  height: 15px;
}
.social h3{
  font-size: 2rem;
  margin-bottom: 20px;
}
.social p{
  margin-bottom: 20px;
}
.social i{
  margin-right:20px;
}
.footer-container{
  padding-top: 70px;
  border-bottom: solid white;
}
.column{
  margin-right: 50px;
}
h3,.footer-title{
  color: #8ea1e1;
}
.footer-title{
  font-weight: bold;
}
.column li{
  list-style: none;
  margin: 10px 0;
}
.final-row{
  padding-top: 20px;
}